

.chat_item_box {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}
.chat_item_box .chat_item_box_container{
 overflow-y: scroll;
 height: calc(100vh - 135px);
 width: 100%;
 /* height: 470px; */
}
.chat_item_box .chat_item_box_container::-webkit-scrollbar{
    width: 5px;
}